/* * {
  background-color: aquamarine;
} */

.box[class="box"] {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px black;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#orange {
  background-color: orange;
}
/* float property element */
img {
  float: left;
  margin: 15px;
}

.float-para {
  font-size: 17pt;
}
footer {
  clear: both;
}
